name: Test

on:
  push:
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9, "3.10", 3.11]
      # Run all the matrix jobs, even if one fails.
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'
      - name: Install mopidy-tidal
        run: |
          poetry install
      - name: Lint
        run: |
          make lint
      - name: Test
        run: |
          make test
      - name: Upload coverage
        if: ${{ matrix.python-version  == '3.10' }}
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
